/* Web Font CSS declaration for Znamenny fonts */
/* Slavonic Computing Initiative (http://sci.ponomar.net/) */

@font-face {
    font-family: 'Mezenets Unicode';
    src: url('../fonts/MezenetsUnicode.eot');
    src: url('../fonts/MezenetsUnicode.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MezenetsUnicode.woff2') format('woff2'),
	url('../fonts/MezenetsUnicode.woff') format('woff'),
	url('../fonts/MezenetsUnicode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

